@media(max-width: 1164px) {
    .conversation2 {
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .container {
        width: auto;
    }
    .normal-container {
        width: auto;
    }
    .main-people {
        width: 20rem;
    }
}
 @media(max-width: 992px)  {
    .navbar {
        display: flex;
        justify-content: center;
    }
    ul li {
        padding: 2rem 0rem;
    }
    .navbar a {
        padding: 1.6rem;
        font-size: 1.5rem;
    }
    .active::after {
        margin-top: 1rem;
    }
    nav {    
        text-align: center;
    }
    .ph-m {    
        font-size: 3rem;    
    }
    .ph-d {
        font-size: 0.9rem;
    }
    .banner {
        display: inherit;
        padding-top: 1rem;
    }
    .brand-img {
        height: auto;
       width: 75%;
        padding-top: 2rem;
    }
    .ms4-img {
        top: 28%;
    }
    .information-section {
        height: auto;
    }
    header {
       height: auto;
    }
    .mini-information3 {
        text-align: center;
        padding-top: 5%;
    }
    .people-feedbeak-section {
        height: 100rem;
    }
    .ms4-img {
        left: 43%;
        width: 100%; 
    }
    .ms3-img {
        width: 30%;
    }
    .ms4-img {
        height: auto;
        width: 36%;
    }
    .normal-container {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .people-say {
       display: grid;
       justify-content: center;
       padding-top: 3rem;
    }
    .people {
        margin-top: 4rem;
    }
    .main-people {
        height: auto;
    }
    .conversation-section {
        height: auto;
        width: 100%;
    }
    .main-phone {
        width: 39%;
        height: auto;
    }
    .brand { 
        text-align: center;
    }
    .ph-m {
        margin: auto;
    }
    .brand2 {
       text-align: center;
    }
    .information {
        display: inherit;
    }
    .mini-information {
        margin: auto;
    }
    .mini-information2 {
        margin: auto;
        padding-top: 7%;
        width: 78%;
    }
    .information2 {
        display: inherit;
    }
    .conversation {
        display: inherit;
        padding-top: 3rem;
    }
    .conversation2 {
        display: inherit;
    }
    .shot-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
    }
    .shot-time2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8%;
        padding-top: 3rem;
    }
    .shot-time3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56%;
    }
    .subscribe h1 {
        font-size: 3rem; 
    }
    .ms2-img {
        width: 100%;
    }
    .ms-img {
        width: 100%;
    }
    .fotter li {
        padding: 0rem 1rem;
    }
}
    @media (max-width: 786px) {
        .navbar {
           display: inherit;
        }
        ul {
            display: inherit;
            justify-content: center;
        }
        .footer-area {
            display: inherit;
            justify-content: center;
        }
        .fotter2 {
            text-align: center;
        }
        .fa, .fas {
           
            left: 57%;
        }
        .btn-last {
            margin-top: 1rem;
        }
        .fotter {
            display: inherit;
        }
        .fotter li {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
        .ph-m {
            font-size: 2rem;
        }
        .information-section {
            height: auto;
        }
}
@media (max-width: 576px) {
    .subscribe h1 {
        font-size: 2rem;
    }
    .btn-h {
        margin-top: 3rem;
    }
    .conversation {
        padding-top: 3rem;
    }
    [type="text"] {
        width: 18rem;
    }
}
@media(max-width: 412px) {
    .main-people {
        width: 100%;
    }
    [type="text"] {
       width: 67%;
    }
    .btn-ns {
        height: auto;
       width: 50%;
       margin: auto;
    }
    .btn-ns {
        position: inherit;
        left: 26%;
        margin-top: 10%;
    }
    .newsletter {
        padding-top: 0rem;
    }
}
/* End responive  */